body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #000000;
    margin: 0;
}

header{
    background-color: blue(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0ch;
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    font-weight: 100;
    margin: 0.625rem 0;

}

nav {
    background-color: #034946;
    padding: 0.8rem;
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 0.625rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1.4rem;
}

#professors {
    padding: 1.4rem;
}

h1,
h2,
h3 {
    margin: 0.625rem 0;
    color: black;
}

p {
    font-size: 1rem;
}

table.tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 1.4rem 0;
    background-color: white;
    font-size: 0.875rem;
}

table.tabla th,
table.tabla td {
    border: 1px solid black;
    text-align: center;
    padding: 0.625rem;
}

table.tabla th {
    background-color: #d3d3d3;
    font-weight: bold;
}

table.tabla td {
    vertical-align: top;
}

footer{
    background-color: rgb(32, 82, 102);
    color: white;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0ch;
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    font-weight: 100;
}
